interactions:
- request:
    body: '{"login": "username", "loginUppercase": "USERNAME", "password":
      "PASSWORD", "personalInfo": {"company": "Default User", "email": "dev-null@redhat.com",
      "firstName": "John", "greeting": "Mr.", "lastName": "Doe", "locale": "en_US",
      "phoneNumber": "1234567890"}, "personalSite": {"address": {"address1": "100
      E. Davie St.", "city": "Raleigh", "countryCode": "US", "county": "Wake", "postalCode":
      "27601", "state": "NC"}, "contactInfo": {"emailAddress": "dev-null@redhat.com",
      "phoneNumber": "1234567890"}, "siteType": "MARKETING"}, "system": "WEB", "userType":
      "P"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://HOSTNAME.com/svcrest/user/v3/create
  response:
    body:
      string: '12345678'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
