interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://HOSTNAME.com/svcrest/terms/presentation/available?login=username&event=attachSubscription&site=candlepin
  response:
    body:
      string: "[{\"id\":\"1507\",\"urlToDisplayThisTerm\":\"http://HOSTNAME.com/some_url\",\"urlToDisplayAllTerms\":\"http://HOSTNAME.com/some_url\",\"isOptional\":false,\"translations\":[{\"id\":\"5061\",\"termsPdfId\":\"c564c302-e2b5-4a30-9224-007c76cf20ae\",\"localeCode\":\"ko_KR\",\"translatedTermsName\":\"\uAD6C\uB3C5
        \uB3D9\uC758\",\"translatedDescription\":null,\"translatedInstructions\":null,\"isDefault\":false,\"pdfDownloadUrl\":\"http://HOSTNAME.com/some_url\"},{\"id\":\"5062\",\"termsPdfId\":\"ba5ea69c-d85b-47c1-9b00-4fb841d9c781\",\"localeCode\":\"pt_BR\",\"translatedTermsName\":\"Contrato
        Enterprise\",\"translatedDescription\":null,\"translatedInstructions\":null,\"isDefault\":false,\"pdfDownloadUrl\":\"http://HOSTNAME.com/some_url\"},{\"id\":\"5063\",\"termsPdfId\":\"8636092d-fb42-4eaf-af66-43809e97a304\",\"localeCode\":\"en_US\",\"translatedTermsName\":\"Enterprise
        Agreement\",\"translatedDescripti[...]
